[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
#!!!Make sure it matches whatever you rename ExampleBot.py to!!!
python_file = ./bot.py

# Name of the bot in-game
name = ZZeer

maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Xerneas02, Mynoteet, SamiLumine & TheWorld

# Short description of the bot
description = ZZZZZZZZZZZZZZZZZeer

# Link to github repository
github = https://github.com/xerneas02/RlGym

# Programming language
language = Python